[submodule "aoc_01"]
	path = aoc_01
	url = ./aoc_01/
[submodule "aoc_02"]
	path = aoc_02
	url = ./aoc_02/
[submodule "aoc_03"]
	path = aoc_03
	url = ./aoc_03/
[submodule "aoc_04"]
	path = aoc_04
	url = ./aoc_04/
